.Button-Burger {
    background-color:  #5C9210;;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button-Burger:first-of-type {
    margin-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}