* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-500: #8b8b96;
  --gray-700: #323238;
  --gray-800: #62626e;
  --gray-850: #1f2729;
  --gray-900: #121214;
  --cyan-500: #61dadb;
  --yellow-500: #eba417;
}

body {
  background: #f0f0f5 no-repeat 70% top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
button {
  font: 16px Roboto, sans-serif;
  font-weight: 300;
  color: var(--gray-900);
}

.content {
  max-width: 1120px;
  margin: 10px auto;
  display: flex;

  @media (max-width: 1200px) {
    padding: 0 12px;
  }
}

p {
  line-height: 24px;
}

.highlight {
  color: var(--yellow-500);
  font-weight: 400;
}

@media (max-width: 1200px) {
  #nav {
    padding: 0 12px;
  }
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* home */

.home-content {
  max-width: 1120px;
  margin: 0 auto;
  height: 50vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  flex: 1;
  justify-content: space-between;

  .contact {
    font-weight: 300;
  }

  img {
    width: 250px;
    height: 250px;
  }

  @media (max-width: 768px) {
    img {
      display: none;
    }
  }
}

.home-hero {
  > span {
    font-size: 16px;
    font-weight: bold;
  }

  h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    margin-top: 32px;

    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  a {
    margin-top: 2.5rem;
    width: 260px;
    height: 4rem;
    border: 0;
    border-radius: 2rem;
    background: var(--yellow-500);
    color: var(--gray-900);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

// https://www.shapedivider.app
.custom-shape-divider-bottom-1620750232 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1620750232 svg {
  position: relative;
  display: block;
  width: calc(221% + 1.3px);
  height: 500px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1620750232 .shape-fill {
  fill: #ffffff;
}

// about
.project {
  margin-top: 40px;
}

.profile {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  img {
    width: 250px;
    height: 250px;
  }

  h1,
  p {
    margin-bottom: 10px;
  }

  .about {
    margin: 0 22px;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .skill {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  ul {
    list-style: none;
  }

  @media (max-width: 768px) {
    .about {
      margin: 0;
    }
    img {
      display: none;
    }
  }
}

// posts
.content-post {
  max-width: 1120px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 30px;
  }
}

.posts {
  display: flex;
  flex-direction: column;

  p {
    cursor: pointer;
  }

  a.link {
    display: block;

    & + a.link {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid var(--gray-300);
    }

    time {
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: var(--gray-300);
    }

    strong {
      display: block;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;
      transition: color 0.2s;
    }
    p {
      color: var(--gray-700);
      margin-top: 0.5rem;
      line-height: 1.625rem;
    }

    &:hover strong {
      color: var(--yellow-500);
    }
  }

  a.new {
    margin-top: 2.5rem;
    width: 260px;
    height: 4rem;
    border: 0;
    border-radius: 2rem;
    background: var(--yellow-500);
    color: var(--gray-900);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  .new-post {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    label {
      margin-left: 2px;
    }
    input {
     
      border-radius: 3px;
      border: 1px solid #ddd;
      padding: 8px;
    }

    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

     

      button {
        margin-left: 15px;
        margin-top: 2.5rem;
        width: 160px;
        height: 3rem;
        border: 0;
        border-radius: 2rem;
        background: var(--yellow-500);
        color: var(--gray-900);
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}


// projects

.content-projects {

  max-width: 1120px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    padding: 0 12px;
  }
  flex: 1;
  .projects {
    margin-top: 20px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .project-item {
    max-width: 200px;
    border: 1px solid var(--gray-500);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-items: inherit;
    justify-content: space-between;

    a {
      font-weight: bold;
      color: var(--yellow-500);
      width: 100%;
      text-align: center;
    }

    & + div {
      margin-left: 15px;
    }
    .title {
      background-color: var(--gray-300);
      color: var(--gray-900);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-weight: 500;
    }

    .description {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 2px 15px;
      text-justify: inter-word;
    }

    .link{
      background-color: var(--gray-100);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }
  }

  
}


// shopping

.content-shopping {
  max-width: 1120px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    padding: 0 12px;
  }
}

table {
  width: 100%;
   background: rgb(248, 243, 243);
   text-align: center;
}


table, th, td {
  border: 1px solid #dce3e8;
  border-collapse: collapse;
}
table tbody tr {
  height: 40px;
  color: #3a3a3a

}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table tr.caption {
  font-size: 16px;
  color: #3a3a3a;
  height: 40px;
  line-height: 40px;
  background: #dce3e8;
  margin: 0 !important;
  padding: 0;

}


table tr.caption th:nth-child(4) {
  font-size: 16px;
  background: #07070799;


}
table tr th:nth-child(1), table tr th:nth-child(2),  table tr th:nth-child(3)  {
   cursor: pointer;
}

table tbody tr td:nth-child(2)  {
  text-align: left;
}

table tbody tr td:nth-child(1) {
  width: 100px;
  color: rebeccapurple;
}


table tbody tr td:nth-child(3), table tbody tr td:nth-child(4) {
  width: 70px;
}


table tbody tr td:nth-child(2)  {
  padding-left: 20px;
}
